html body {
  overflow: hidden;
  font-size: 1em !important;
  color: #000000;
}

/*html body.diy-creation-body {
  --header-background-color: #000000;
}*/

/*html body.diy-creation-body .unified-header,
html body.diy-creation-body .service-connection .btn,
html .site-footer .partner-banner a.platform-cta-banner,
html .site-footer > div {
  background-color: var(--header-background-color) !important;
  transition: background-color 0.3s !important;
}*/

/*html body .account-menu li a.active,
html body.home-body a.my_service,
html body.settings-body .account-menu li a[href="https://ifttt.com/settings"],
html body.activities-body .account-menu li a[href="https://ifttt.com/activity"],
html body.dashboard-body.applets-action .account-menu li a[href="https://ifttt.com/my_applets"],
html body.dashboard-body.services-action .account-menu li a[href="https://ifttt.com/my_services"],
html body.diy-creation-body .account-menu li a[href="https://ifttt.com/create"] {
  color: #09f;
  box-shadow: 0 0.275em #09f;
}*/

html body.home-body div[data-react-class="App.Comps.HomeView"] > div > h1 {
  visibility: hidden;
  line-height: 0;
}

html body.home-body div[data-react-class="App.Comps.HomeView"] > div > h1::before {
  content: "My Services";
  visibility: visible;
  display: block;
  line-height: initial;
}

/*html body.diy-creation-body .account-menu li a[href="https://ifttt.com/create"] {
  box-shadow: 0 0.275em #fff;
}*/

@media (max-width: 1443px) {
  html body .account-menu li a {
    box-shadow: none !important;
  }
}

html header.ifttt-next .menu.account-menu .submenu li:not(.name) a,
html .my-services h1 {
  text-transform: capitalize;
}

@media (min-width: 724px) and (min-height: 850px) {
  
  /* Floating Header */
  html body {
    padding-top: 5.47em;
  }
  
  /* Floating Header */
  html body header.unified-header {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 1.5px 6px 0 rgba(0,0,0,0.24);
  }
  
  /* Floating Header */
  html body header.unified-header.on-color {
    background-color: inherit;
    transition: background-color 0.1s;
  }
  
}

@media (min-width: 1700px) and (min-height: 850px) {
  
  /* Floating Back Button */
  html body.ifttt-next.activities-body .activity-back-button,
  html body.ifttt-next.activities-body main.container > section.feed > div[data-react-class="App.Comps.LearnMoreButton"] > a.learn-more-icon,
  html body.connections-body .connection-header .connection-back-button a.btn,
  html body.access-applets-body.edit-action .connection-header .connection-back-button a.btn,
  html body.services-body.show-action .ifttt-back-button a.btn {
    position: fixed !important;
    top: calc(1em + 82px) !important;
    z-index: 998;
  }
  
  /* Floating Settings Button */
  html body.connections-body .connection-header .connection-settings-btn a.btn,
  html body.services-body .service-header .service-settings-btn a.btn,
  html body.access-applets-body.edit-action .connection-header .connection-settings-btn a.btn {
    position: fixed;
    top: calc(1em + 82px);
    right: 1.25em;
    z-index: 998;
  }
  
  /* Floating Top Right Non-Settings Button */
  html body.services-body .service-header div:not([data-react-props^="{\"text\":\"Settings\""]) > .service-settings-btn a.btn,
  html body.connections-body .connection-header div:not([data-react-class="App.Comps.ConnectionCard.SettingsButton"]) > .connection-settings-btn a.btn {
    right: calc(1.25em + 135px);
  }
  
  /* Floating Back Button */
  html body #config-editor .connection-back-btn,
  html body #config-editor .applet-pro-config-btn,
  html body #config-editor div[data-react-class="App.Comps.LearnMoreButton"] > a.learn-more-icon {
    position: fixed !important;
    z-index: 9999;
  }
  
  /* Floating Back Button */
  html body #config-editor .connection-back-btn .btn,
  html body #config-editor .applet-pro-config-btn .btn {
    background-color: white;
    transition: background-color 0.1s;
  }
  
  /* Invert Floating Back Button when it's outside of a colored header */
  html body[style="background-color: rgb(0, 0, 0);"] .connection-header .connection-back-button .btn.btn-outlined,
  html body[style="background-color: rgb(0, 0, 0);"].services-body.show-action .ifttt-back-button a.btn,
    /* Floating Settings Button when it's outside of a colored header */
  html body[style="background-color: rgb(0, 0, 0);"] .connection-header .connection-settings-btn .btn.btn-outlined,
  html body[style="background-color: rgb(0, 0, 0);"].services-body .service-header .service-settings-btn a.btn {
    filter: invert(1);
    background-color: black;
  }
  
}

@media (min-width: 724px) {
  
  html body.home-body [class^="service_list_item__service-title__"],
  html body.dashboard-body.services-action .my-services .services-list .service-item a .service-title {
    font-size: 1em;
  }
  
  /* Add On/Off Label to Switches with No Labels - Start */
  html body:not(.diy-creation-body) .switch .switch-label-off,
  html body:not(.diy-creation-body) .switch .switch-label-on {
    font-size: 1.1em;
  }
  
  html body:not(.diy-creation-body) .switch-label {
    height: 1.7em;
    line-height: 2em;
    font-weight: bold;
  }
  
  html body:not(.diy-creation-body) .switch-label-on:before {
    content: "On";
  }
  
  html body:not(.diy-creation-body) .switch-label-off:before {
    content: "Off";
  }
  
  html .push-notifications .switch,
  html .service-settings .switch,
  html .connection-config-editor .switch {
    width: 6em;
  }
  
  /* Add On/Off Label to Switches with No Labels - End */
  
}

@media (min-width: 1444px) {
  
  html header.ifttt-next.unified-header .navigation .search-group .search-field .input input[type="text"] {
    max-width: calc(100vw - 1260px);
  }
  
  /* Expanded Menu - Start */
  /*html header.ifttt-next .menu.account-menu {
    position: static;
  }
  
  html header.ifttt-next .menu.account-menu > li.name {
    display: none;
  }*/
  
  /* Expanded Menu - End */
  html body.home-body main.container > div > div > ul {
    grid: auto/30% 30% 30%;
  }
  
  html body.home-body main.container > div > div > h1,
  html body.dashboard-body main.container > div > h1 {
    float: left;
    margin-top: 0;
    text-align: left;
    max-width: 7em;
  }
  
  html body.home-body main.container > div > div > .ifttt-next-search,
  html body.dashboard-body main.container > div > .ifttt-next-search {
    float: right;
  }
  
  html body.home-body main.container > div > div > ul,
  html body.dashboard-body main.container > div > section.dashboard-applets {
    clear: both;
  }
  
  html body.home-body main.container,
  html body.dashboard-body main.container,
  html .web-applet-cards,
  html body.diy-creation-body .trigger-fields .trigger-fields-container,
  html body.diy-creation-body .action-fields .trigger-fields-container,
  html body.dashboard-body.services-action .my-services {
    max-width: 100% !important;
  }
  
  html body.dashboard-body.services-action .my-services .services-list {
    grid-template-columns: repeat(4, 25%);
    padding: 0 1.4em;
  }
  
  html body.dashboard-body.services-action .my-services,
  html body.connections-body.edit-action #config-editor .connection-config-editor,
  html body.access-applets-body.edit-action #config-editor .connection-config-editor {
    width: 100% !important;
    max-width: 1284px;
  }
  
  /* Applet Edit: Fields in 2 Columns */
  html body.connections-body.edit-action ul.form,
  html body.diy-creation-body .trigger-fields ul.fields,
  html body.diy-creation-body .action-fields ul.fields {
    display: grid;
    grid: auto/50% 50%;
    grid-gap: 0 1.4em;
    margin-right: 1.4em;
    align-items: baseline;
  }
  
  /* Applet Edit: Fields in 2 Columns: Display 1 Column If Only 1 Field */
  html body.connections-body.edit-action ul.form > .field:first-child:last-child,
  html body.diy-creation-body .trigger-fields ul.fields > .field:first-child:last-child,
  html body.diy-creation-body .action-fields ul.fields > .field:first-child:last-child {
    grid-column: span 2;
  }
  
  /* Align Controls */
  html body.connections-body.edit-action #config-editor .connection-push-notifications,
  html body.access-applets-body.edit-action #config-editor .connection-push-notifications,
  html body.connections-body.edit-action #config-editor .connection-view-activity,
  html body.access-applets-body.edit-action #config-editor .connection-view-activity {
    max-width: 50em;
  }
  
  /* Align Controls */
  html body.connections-body.edit-action #config-editor .connection-view-activity .connection-check,
  html body.access-applets-body.edit-action #config-editor .connection-view-activity .connection-check {
    float: none;
    margin-top: 3.5em;
  }
  
}

@media (max-width: 1443px) {

}

@media (min-width: 724px) and (max-width: 1443px) {

}

@media (min-width: 1918px) {
  
  html body.home-body main.container > div > div > ul {
    grid: auto/24% 24% 24% 24%;
  }
  
}

html body.dashboard-body.services-action .my-services .services-list {
  padding-top: 3.5em !important;
}

html body.dashboard-body.services-action .my-services .services-list .service-item {
  padding-top: 0;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a {
  padding: 1.5em !important;
  background-color: black;
  border-radius: 0.9em;
  box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.24);
}

html .service-list-item a {
  height: auto;
  padding: 1em;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a .service-icon,
html [class^="service_list_item__service-icon__"] {
  height: 2em;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a .service-icon {
  filter: none;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a .service-icon[title="Instapaper Old"] {
  background: url(https://assets.ifttt.com/images/channels/1646223231/icons/monochrome_large.png) no-repeat center center;
  background-size: contain;
  width: 2em;
  color: transparent;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a .service-title {
  color: white;
}

html body.dashboard-body.services-action .my-services .services-list .service-item a .service-arrow svg path {
  fill: white;
}

html body.services-body.show-action .triggers-actions-container,
html body.diy-creation-body.show-action .triggers-actions-container {
  margin-bottom: 4em;
}

html body.services-body.show-action .triggers-actions-container main.container {
  max-width: 36em;
}

html body.diy-creation-body.show-action .triggers-actions-container main.container {
  max-width: 500px;
  margin-top: 1em;
}

html body.diy-creation-body.show-action .triggers-actions,
html body.services-body.show-action .triggers-actions {
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
}

html body.services-body.show-action .triggers-actions .title,
html body.diy-creation-body.show-action .triggers-actions .title {
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.125;
}

html body.services-body.show-action .triggers-actions .description,
html body.diy-creation-body.show-action .triggers-actions .description {
  font-size: 1em;
  font-weight: 700;
  margin-top: 0.2em;
}

html body.services-body.show-action .triggers-actions .fields,
html body.diy-creation-body.show-action .triggers-actions .fields {
  font-size: 1em;
  margin-top: 0.2em;
}

html body.activities-body .feed {
  max-width: 70em;
}

html body.activities-body .feed .applet-header {
  max-width: 100%;
}

html body.connections-body.show-action .connection-header .cta,
html body.connections-body.edit-action .connection-header .cta,
html body.access-applets-body.edit-action .connection-header .cta {
  width: 100% !important;
  max-width: 70em;
  word-break: break-word;
}

/* Decrease size of the giant spacing at the bottom of the page */
html .breath-space {
  min-height: 30vmin;
}